.DS_Store
.ruby-version
README.txt
RT-PCR
exon-intron-junction_normalization_factors.txt
expression_data
gene_normalization_factors.txt
radiation.cor_dist.png
radiation.eucl_dist.png
radiation_DE_results.xlsx
radiation_stats.xlsx
results
scripts
trend_data
